
body {
  margin-top: 70px;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: #202020;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px;
  height: 70px;
  background-color: #0B0B0B !important;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.know-it-all {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  margin: 0 auto; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  font-family: "Comic Neue", Arial, sans-serif;
}

.header-buttons {
  display: flex;
  gap: 15px;
}


/*button*/
.random-button,
.friends-button,
.login-button,
.register-button {
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 20px;
background: var(--Green, #40CE74);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  width: 100px;
  height: 50px;
flex-shrink: 0;
  font-family: "Comic Neue", Arial, sans-serif;
}

/*hover*/
.random-button:hover,
.friends-button:hover,
.login-button:hover,
.register-button:hover {
  background-color: blue;
  transform: scale(1.05);
}

.random-button:focus,
.friends-button:focus,
.login-button:focus,
.register-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px  rgba(255, 255, 255, 0.7);
}
